In [1]:
%run db.ipynb

Query started at 11:41:15 AM EDT
Query executed in 0.00 m
Query started at 11:41:15 AM EDT
Query executed in 0.00 m

## Load Data

In [4]:
traindf = pd.read_csv('../input/train.csv')
weatherdf = pd.read_csv('../input/weather.csv')
spraydf = pd.read_csv('../input/spray.csv')
# testdf = pd.read_csv('../input/test.csv')

In [5]:
schema = 'wnv'
traindf.rename({'Date': 'DateStr', 'Trap': 'TrapID'})
traindf.to_sql('wnv_train', engine, schema=schema, index = False,
               if_exists = 'replace', chunksize=1000)
weatherdf.to_sql('wnv_weather', engine, schema=schema, index = False,
               if_exists = 'replace', chunksize=1000)
spraydf.to_sql('wnv_spray', engine, schema=schema, index = False,
               if_exists = 'replace', chunksize=1000)
del traindf, weatherdf, spraydf

In [22]:
%%read_sql
SELECT *
FROM wnv.wnv_weather
LIMIT 10

Query started at 03:35:12 PM EDT
Query executed in 0.00 m

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
2,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9
3,1,2007-05-04,66,49,58,4,41,50,7,0,...,RA,0,M,0.0,T,29.31,30.05,10.4,8,10.8
4,1,2007-05-05,66,53,60,5,38,49,5,0,...,,0,M,0.0,T,29.40,30.10,11.7,7,12.0
5,1,2007-05-06,68,49,59,4,30,46,6,0,...,,0,M,0.0,0.00,29.57,30.29,14.4,11,15.0
6,1,2007-05-07,83,47,65,10,41,54,0,0,...,RA,0,M,0.0,T,29.38,30.12,8.6,18,10.5
7,1,2007-05-08,82,54,68,12,58,62,0,3,...,BR,0,M,0.0,0.00,29.29,30.03,2.7,11,5.8
8,1,2007-05-09,77,61,69,13,59,63,0,4,...,BR HZ,0,M,0.0,0.13,29.21,29.94,3.9,9,6.2
9,1,2007-05-10,84,56,70,14,52,60,0,5,...,BR,0,M,0.0,0.00,29.20,29.92,0.7,17,4.1