In [1]:
%run db.ipynb

## Load Data

In [2]:
traindf = pd.read_csv('../input/train.csv')
weatherdf = pd.read_csv('../input/weather.csv')
spraydf = pd.read_csv('../input/spray.csv')
# testdf = pd.read_csv('../input/test.csv')

traindf.columns = [c.lower() for c in traindf]
weatherdf.columns = [c.lower() for c in weatherdf]
spraydf.columns = [c.lower() for c in spraydf]

In [3]:
%read_sql DROP SCHEMA IF EXISTS wnv CASCADE;
%read_sql CREATE SCHEMA wnv;

Query started at 05:54:40 PM EDT
Query executed in 0.00 m
Query started at 05:54:40 PM EDT
Query executed in 0.00 m

In [4]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://{user}:{password}@{host}:{port}/{database}'.format(**conf))

In [5]:
schema = 'wnv'
traindf.to_sql('wnv_train', engine, schema=schema, index = False,
               if_exists = 'replace', chunksize=1000)
weatherdf.to_sql('wnv_weather', engine, schema=schema, index = False,
               if_exists = 'replace', chunksize=1000)
spraydf.to_sql('wnv_spray', engine, schema=schema, index = False,
               if_exists = 'replace', chunksize=1000)
del traindf, weatherdf, spraydf

In [6]:
%%read_sql
SELECT *
FROM wnv.wnv_weather
LIMIT 10

Query started at 05:54:46 PM EDT
Query executed in 0.00 m

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,codesum,depth,water1,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9
5,2,2007-05-03,67,48,58,M,40,50,7,0,...,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,RA,0,M,0.0,T,29.31,30.05,10.4,8,10.8
7,2,2007-05-04,78,51,M,M,42,50,M,M,...,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,,0,M,0.0,T,29.40,30.10,11.7,7,12.0
9,2,2007-05-05,66,54,60,M,39,50,5,0,...,,M,M,M,T,29.46,30.09,11.2,7,11.5