In [2]:
%run db.ipynb

The sql_magic extension is already loaded. To reload it, use:
  %reload_ext sql_magic
Query started at 03:00:33 PM EDT
Query executed in 0.00 m
Query started at 03:00:33 PM EDT
Query executed in 0.00 m

## Load Data

In [4]:
traindf = pd.read_csv('../input/train.csv')
weatherdf = pd.read_csv('../input/weather.csv')
spraydf = pd.read_csv('../input/spray.csv')
# testdf = pd.read_csv('../input/test.csv')

In [7]:
schema = 'wnv'
traindf.to_sql('wnv_train', engine, schema=schema, index = False,
               if_exists = 'replace', chunksize=1000)
weatherdf.to_sql('wnv_weather', engine, schema=schema, index = False,
               if_exists = 'replace', chunksize=1000)
spraydf.to_sql('wnv_spray', engine, schema=schema, index = False,
               if_exists = 'replace', chunksize=1000)

In [8]:
%%read_sql
SELECT *
FROM wnv.wnv_weather
LIMIT 10

Query started at 03:09:56 PM EDT
Query executed in 0.00 m

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
1,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
2,2,2007-05-03,67,48,58,M,40,50,7,0,...,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
3,2,2007-05-04,78,51,M,M,42,50,M,M,...,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
4,2,2007-05-05,66,54,60,M,39,50,5,0,...,,M,M,M,T,29.46,30.09,11.2,7,11.5
5,2,2007-05-06,68,52,60,M,30,46,5,0,...,,M,M,M,0.00,29.62,30.28,13.8,10,14.5
6,2,2007-05-07,84,50,67,M,39,53,0,2,...,,M,M,M,0.00,29.44,30.12,8.5,17,9.9
7,2,2007-05-08,80,60,70,M,57,63,0,5,...,HZ,M,M,M,T,29.36,30.02,2.5,8,5.4
8,2,2007-05-09,76,63,70,M,60,63,0,5,...,BR HZ,M,M,M,0.02,29.28,29.93,3.9,7,5.9
9,2,2007-05-10,83,59,71,M,52,61,0,6,...,BR HZ,M,M,M,0.00,29.26,29.91,2.0,9,3.9