In [1]:
%run ../db.ipynb
%config SQL.notify_result = False

In [2]:
%read_sql SET search_path TO ds_training_wnv;

Query started at 12:07:44 PM Eastern Daylight Time; Query executed in 0.00 m

In [10]:
input_table = 'wnv_train'

In [11]:
%%read_sql _df
SELECT *
FROM {input_table} 
LIMIT 10

Query started at 04:39:30 PM Eastern Daylight Time
Query executed in 0.00 m

,date,address,species,block,street,trap,addressnumberandstreet,latitude,longitude,addressaccuracy,nummosquitos,wnvpresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0
5,2007-05-29,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX RESTUANS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8,2,0
6,2007-05-29,"2500 West Grand Avenue, Chicago, IL 60654, USA",CULEX RESTUANS,25,W GRAND AVE,T046,"2500 W GRAND AVE, Chicago, IL",41.891118,-87.654491,8,1,0
7,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,1,0
8,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,2,0
9,2007-05-29,"1100 West Chicago Avenue, Chicago, IL 60642, USA",CULEX RESTUANS,11,W CHICAGO,T049,"1100 W CHICAGO, Chicago, IL",41.896282,-87.655232,8,1,0

# Casting as a date type

In [12]:
%%read_sql
SELECT date::date
FROM wnv_train
LIMIT 10

Query started at 04:39:34 PM Eastern Daylight Time
Query executed in 0.00 m

         date
0  2007-05-29
1  2007-05-29
2  2007-05-29
3  2007-05-29
4  2007-05-29
5  2007-05-29
6  2007-05-29
7  2007-05-29
8  2007-05-29
9  2007-05-29

# Extracting year, month, and day from a date

In [18]:
input_table = 'wnv_train'
output_table = 'wnv_train_ts'

In [19]:
%%read_sql
DROP TABLE if EXISTS {output_table};
CREATE TABLE {output_table}
AS
WITH wnv_train_dates AS (
                     SELECT date::date date_ts, *
                     FROM {input_table} 
                     )
SELECT extract(year from date_ts)::int AS year,
       extract(month from date_ts)::int AS month,
       extract(day from date_ts)::int AS day,
       extract(doy from date_ts)::int AS day_of_year,
       *
FROM wnv_train_dates

Query started at 04:39:58 PM Eastern Daylight Time
Query executed in 0.00 m
Query started at 04:39:58 PM Eastern Daylight Time
Query executed in 0.04 m

In [20]:
%read_sql SELECT * FROM {output_table} LIMIT 10

Query started at 04:40:00 PM Eastern Daylight Time
Query executed in 0.00 m

,year,month,day,day_of_year,date_ts,date,address,species,block,street,trap,addressnumberandstreet,latitude,longitude,addressaccuracy,nummosquitos,wnvpresent
0,2007,5,29,149,2007-05-29,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007,5,29,149,2007-05-29,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007,5,29,149,2007-05-29,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007,5,29,149,2007-05-29,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007,5,29,149,2007-05-29,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0
5,2007,5,29,149,2007-05-29,2007-05-29,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX RESTUANS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8,2,0
6,2007,5,29,149,2007-05-29,2007-05-29,"2500 West Grand Avenue, Chicago, IL 60654, USA",CULEX RESTUANS,25,W GRAND AVE,T046,"2500 W GRAND AVE, Chicago, IL",41.891118,-87.654491,8,1,0
7,2007,5,29,149,2007-05-29,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,1,0
8,2007,5,29,149,2007-05-29,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,2,0
9,2007,5,29,149,2007-05-29,2007-05-29,"1100 West Chicago Avenue, Chicago, IL 60642, USA",CULEX RESTUANS,11,W CHICAGO,T049,"1100 W CHICAGO, Chicago, IL",41.896282,-87.655232,8,1,0

# Aggregate to Trap, Species, Level 

We are asked to predict for a given day, trap, and species, predict the presence of West Nile Virus in mosquitoes.

In [21]:
input_table = 'wnv_train_ts'
output_table = 'wnv_train_agg'

In [22]:
%%read_sql
DROP TABLE IF EXISTS {output_table};
CREATE TABLE {output_table}
AS
SELECT date_ts,year,month,day,day_of_year,trap,latitude,longitude,species,
       SUM(NumMosquitos)::int total_num_mosquitos,
       MAX(WnvPresent) wnv_present
FROM {input_table}
GROUP BY date_ts,year,month,day,day_of_year,trap,latitude,longitude,species

Query started at 04:40:06 PM Eastern Daylight Time
Query executed in 0.00 m
Query started at 04:40:06 PM Eastern Daylight Time
Query executed in 0.03 m

In [23]:
%%read_sql
SELECT *
FROM {output_table}

Query started at 04:40:07 PM Eastern Daylight Time
Query executed in 0.05 m

,date_ts,year,month,day,day_of_year,trap,latitude,longitude,species,total_num_mosquitos,wnv_present
0,2007-08-01,2007,8,1,213,T086,41.688324,-87.676709,CULEX PIPIENS/RESTUANS,223,1
1,2009-09-14,2009,9,14,257,T225,41.743402,-87.731435,CULEX PIPIENS,7,0
2,2007-08-01,2007,8,1,213,T085,41.721474,-87.648064,CULEX PIPIENS/RESTUANS,10,0
3,2009-07-17,2009,7,17,198,T073,41.773215,-87.600880,CULEX PIPIENS/RESTUANS,11,0
4,2011-06-30,2011,6,30,181,T082,41.803423,-87.642984,CULEX RESTUANS,5,0
5,2013-07-25,2013,7,25,206,T230,41.904194,-87.756155,CULEX RESTUANS,1,0
6,2009-06-15,2009,6,15,166,T209,41.740641,-87.546587,CULEX PIPIENS/RESTUANS,2,0
7,2013-08-22,2013,8,22,234,T027,41.984809,-87.728492,CULEX PIPIENS/RESTUANS,31,1
8,2013-07-19,2013,7,19,200,T114,41.798697,-87.736812,CULEX PIPIENS/RESTUANS,20,0
9,2011-09-01,2011,9,1,244,T223,41.973845,-87.805059,CULEX PIPIENS/RESTUANS,11,1
10,2009-06-26,2009,6,26,177,T128,41.704572,-87.565666,CULEX PIPIENS/RESTUANS,3,0
11,2007-07-19,2007,7,19,200,T065,41.778297,-87.752411,CULEX PIPIENS/RESTUANS,8,0
12,2007-09-05,2007,9,5,248,T102,41.750498,-87.605294,CULEX PIPIENS,1,0
13,2013-08-08,2013,8,8,220,T235,41.776428,-87.627096,CULEX PIPIENS,12,0
14,2011-08-26,2011,8,26,238,T090,41.868077,-87.666901,CULEX PIPIENS/RESTUANS,3,0
15,2013-07-12,2013,7,12,193,T094B,41.719140,-87.669539,CULEX RESTUANS,20,0
16,2013-06-28,2013,6,28,179,T158,41.682587,-87.707973,CULEX RESTUANS,41,0
17,2011-08-12,2011,8,12,224,T114,41.798697,-87.736812,CULEX RESTUANS,11,0
18,2011-07-11,2011,7,11,192,T003,41.964242,-87.757639,CULEX PIPIENS/RESTUANS,1,0
19,2009-07-31,2009,7,31,212,T128,41.704572,-87.565666,CULEX PIPIENS/RESTUANS,1,0
20,2011-09-23,2011,9,23,266,T235,41.776428,-87.627096,CULEX PIPIENS/RESTUANS,2,0
21,2013-06-28,2013,6,28,179,T227,41.728495,-87.600963,CULEX PIPIENS/RESTUANS,73,0
22,2009-07-06,2009,7,6,187,T147,41.932094,-87.700117,CULEX PIPIENS/RESTUANS,3,0
23,2007-09-24,2007,9,24,267,T048,41.867108,-87.654224,CULEX PIPIENS,5,0
24,2009-09-14,2009,9,14,257,T102,41.750498,-87.605294,CULEX PIPIENS,2,0
25,2007-08-15,2007,8,15,227,T143,41.999129,-87.795585,CULEX PIPIENS/RESTUANS,67,1
26,2011-07-25,2011,7,25,206,T900,41.974689,-87.890615,CULEX PIPIENS/RESTUANS,292,1
27,2011-07-11,2011,7,11,192,T039,41.911824,-87.726737,CULEX PIPIENS/RESTUANS,4,0
28,2007-08-01,2007,8,1,213,T081,41.821582,-87.627796,CULEX PIPIENS,3,0
29,2009-06-15,2009,6,15,166,T115,41.673408,-87.599862,CULEX PIPIENS,5,0
...,...,...,...,...,...,...,...,...,...,...,...
8445,2011-08-12,2011,8,12,224,T147,41.932094,-87.700117,CULEX PIPIENS/RESTUANS,2,0
8446,2013-08-08,2013,8,8,220,T002,41.954690,-87.800991,CULEX PIPIENS,56,1
8447,2013-08-22,2013,8,22,234,T155,41.776156,-87.778927,CULEX PIPIENS/RESTUANS,4,0
8448,2011-08-12,2011,8,12,224,T212,41.680946,-87.535198,CULEX TERRITANS,3,0
8449,2013-08-15,2013,8,15,227,T227,41.728495,-87.600963,CULEX PIPIENS/RESTUANS,40,1
8450,2007-08-02,2007,8,2,214,T135,41.662014,-87.724608,CULEX PIPIENS/RESTUANS,11,0
8451,2009-08-25,2009,8,25,237,T221,41.659112,-87.538693,CULEX PIPIENS,1,0
8452,2011-08-19,2011,8,19,231,T135,41.662014,-87.724608,CULEX PIPIENS,1,0
8453,2013-08-08,2013,8,8,220,T135,41.662014,-87.724608,CULEX RESTUANS,14,0
8454,2009-06-02,2009,6,2,153,T009,41.992478,-87.862995,CULEX TERRITANS,1,0
8455,2009-07-13,2009,7,13,194,T903,41.957799,-87.930995,CULEX PIPIENS/RESTUANS,10,0
8456,2011-09-12,2011,9,12,255,T209,41.740641,-87.546587,CULEX RESTUANS,6,0
8457,2013-07-19,2013,7,19,200,T074,41.822536,-87.666343,CULEX RESTUANS,22,0
8458,2013-08-01,2013,8,1,213,T012,41.991429,-87.747113,CULEX PIPIENS,3,0
8459,2013-08-22,2013,8,22,234,T102,41.750498,-87.605294,CULEX PIPIENS,11,0
8460,2013-07-12,2013,7,12,193,T099,41.733643,-87.555510,CULEX PIPIENS/RESTUANS,3,0
8461,2011-09-12,2011,9,12,255,T031,41.801498,-87.763416,CULEX RESTUANS,2,0
8462,2007-09-12,2007,9,12,255,T162,41.725517,-87.614258,CULEX PIPIENS,4,0
8463,2013-09-12,2013,9,12,255,T147,41.932094,-87.700117,CULEX PIPIENS,13,1
8464,2009-06-02,2009,6,2,153,T114,41.798697,-87.736812,CULEX PIPIENS/RESTUANS,1,0
8465,2013-07-08,2013,7,8,189,T011,41.944869,-87.832763,CULEX RESTUANS,1,0
8466,2007-09-25,2007,9,25,268,T215,41.686398,-87.531635,CULEX PIPIENS/RESTUANS,14,0
8467,2011-08-26,2011,8,26,238,T027,41.984809,-87.728492,CULEX TERRITANS,1,0
8468,2007-08-07,2007,8,7,219,T094,41.720848,-87.666014,CULEX PIPIENS/RESTUANS,1,0
8469,2011-06-17,2011,6,17,168,T095,41.704336,-87.703736,CULEX RESTUANS,4,0
8470,2013-06-28,2013,6,28,179,T102,41.750498,-87.605294,CULEX PIPIENS/RESTUANS,18,0
8471,2013-07-25,2013,7,25,206,T061,41.801179,-87.679447,CULEX PIPIENS/RESTUANS,6,0
8472,2007-08-24,2007,8,24,236,T025,41.979243,-87.750938,CULEX PIPIENS/RESTUANS,3,0
8473,2011-08-12,2011,8,12,224,T089,41.723195,-87.649970,CULEX PIPIENS/RESTUANS,11,0
8474,2007-09-18,2007,9,18,261,T028,41.986921,-87.689778,CULEX RESTUANS,3,0

# Categorical Variable Enconding

In [3]:
input_table = 'wnv_train_agg' 
output_table = 'wnv_train_agg_dummy'

In [22]:
df = %read_sql SELECT species FROM {input_table}

Query started at 03:56:45 PM Eastern Daylight Time
Query executed in 0.02 m

In [42]:
import re
species = ['CULEX PIPIENS/RESTUANS',
 'CULEX RESTUANS',
 'CULEX PIPIENS',
 'CULEX TERRITANS',
 'CULEX SALINARIUS',
 'CULEX TARSALIS',
 'CULEX ERRATICUS']
def _clean_dummy_val( cval):
    """For creating dummy variable columns, we need to remove special characters in values"""
    cval_clean = cval.replace(' ','_').replace('-','_').replace('"','').replace("'",'')
    return re.sub('[^a-zA-Z\d\s:]', '_', cval_clean)
def to_dummy(c, c_value):
    c_val_clean = _clean_dummy_val(c_value)
    return "CAST({c}='{c_value}' AS int) AS {c}_{c_val_clean}".format(c=c,
                                                                    c_value = c_value,
                                                                    c_val_clean = c_val_clean
                                                              )

cols = %read_sql SELECT * FROM {input_table} LIMIT 0
cols = cols.columns.tolist()
cols.remove('species')
sql = cols + [to_dummy('species', c) for c in species]
sql_str = ',\n'.join(sql)

Query started at 04:04:49 PM Eastern Daylight Time
Query executed in 0.00 m
date_ts,
year,
month,
day,
day_of_year,
trap,
latitude,
longitude,
total_num_mosquitos,
wnv_present,
CAST(species='CULEX PIPIENS/RESTUANS' AS int) AS species_CULEX_PIPIENS_RESTUANS,
CAST(species='CULEX RESTUANS' AS int) AS species_CULEX_RESTUANS,
CAST(species='CULEX PIPIENS' AS int) AS species_CULEX_PIPIENS,
CAST(species='CULEX TERRITANS' AS int) AS species_CULEX_TERRITANS,
CAST(species='CULEX SALINARIUS' AS int) AS species_CULEX_SALINARIUS,
CAST(species='CULEX TARSALIS' AS int) AS species_CULEX_TARSALIS,
CAST(species='CULEX ERRATICUS' AS int) AS species_CULEX_ERRATICUS

In [43]:
%%read_sql
DROP TABLE IF EXISTS {output_table};
CREATE TABLE {output_table}
AS
SELECT {sql_str}
FROM {input_table};

Query started at 04:05:34 PM Eastern Daylight Time
Query executed in 0.00 m
Query started at 04:05:34 PM Eastern Daylight Time
Query executed in 0.03 m

In [4]:
%read_sql SELECT madlib.create_indicator_variables()

Query started at 03:38:35 PM Eastern Daylight Time

DatabaseError: Execution failed on sql 'SELECT madlib.create_indicator_variables()': function madlib.create_indicator_variables(unknown) does not exist
LINE 2:     SELECT madlib.create_indicator_variables('');
                   ^
HINT:  No function matches the given name and argument types. You may need to add explicit type casts.
QUERY:
    SELECT madlib.create_indicator_variables('');

CONTEXT:  SQL function "create_indicator_variables" during inlining

In [4]:
%%read_sql
DROP TABLE IF EXISTS {output_table};
SELECT madlib.create_indicator_variables('{input_table}',
                                         '{output_table}',
                                         'species')

Query started at 12:07:57 PM Eastern Daylight Time; Query executed in 0.01 mQuery started at 12:07:57 PM Eastern Daylight Time

DatabaseError: Execution failed on sql 'SELECT madlib.create_indicator_variables('wnv_train_agg',
                                         'wnv_train_agg_dummy',
                                         'species')': function madlib.create_indicator_variables(text, text, text, boolean) does not exist
LINE 2:     SELECT madlib.create_indicator_variables($1, $2, $3, Fal...
                   ^
HINT:  No function matches the given name and argument types. You may need to add explicit type casts.
QUERY:
    SELECT madlib.create_indicator_variables($1, $2, $3, False)

CONTEXT:  SQL function "create_indicator_variables" during inlining

In [26]:
%read_sql SELECT * FROM {output_table}

Query started at 04:40:14 PM Eastern Daylight Time

DatabaseError: Execution failed on sql 'SELECT * FROM wnv_train_agg_dummy': relation "wnv_train_agg_dummy" does not exist
LINE 1: SELECT * FROM wnv_train_agg_dummy
                      ^

# Weather Data

# Data Cleansing and Missing Values

Need to remove whitespace and replace characters with empty

In [8]:
input_table = 'wnv_weather' 
output_table = 'wnv_trimmed'

In [9]:
%read_sql SELECT * FROM wnv_weather LIMIT 10

Query started at 03:52:08 PM Eastern Daylight Time
Query executed in 0.01 m

,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,codesum,depth,water1,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9
5,2,2007-05-03,67,48,58,M,40,50,7,0,...,HZ,M,M,M,0.00,29.46,30.12,12.9,6,13.2
6,1,2007-05-04,66,49,58,4,41,50,7,0,...,RA,0,M,0.0,T,29.31,30.05,10.4,8,10.8
7,2,2007-05-04,78,51,M,M,42,50,M,M,...,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
8,1,2007-05-05,66,53,60,5,38,49,5,0,...,,0,M,0.0,T,29.40,30.10,11.7,7,12.0
9,2,2007-05-05,66,54,60,M,39,50,5,0,...,,M,M,M,T,29.46,30.09,11.2,7,11.5

# Trim White Space

In [10]:
%%read_sql
DROP TABLE IF EXISTS {output_table};
CREATE TEMP TABLE {output_table}
AS
SELECT *,
       trim(avgspeed) avgspeed_trimmed,
       trim(preciptotal) preciptotal_trimmed,
       trim(tmin) tmin_trimmed,
       trim(tavg) tavg_trimmed,
       trim(tmax) tmax_trimmed
FROM {input_table}

Query started at 03:52:11 PM Eastern Daylight Time
Query executed in 0.00 m
Query started at 03:52:11 PM Eastern Daylight Time
Query executed in 0.05 m

In [11]:
input_table = 'wnv_trimmed'
output_table = 'wnv_weather_clean'

# Replacing Missing Variables

In [12]:
%%read_sql 
DROP TABLE IF EXISTS {output_table};
CREATE TABLE {output_table}
AS
SELECT date,
       CAST(regexp_replace(avgspeed_trimmed, '^[^\d.]+$', 0) AS float) AS avgspeed,
       CAST(regexp_replace(preciptotal_trimmed, '^[^\d.]+$', 0) AS float) AS preciptotal,
       CAST(regexp_replace(tmin_trimmed, '^[^\\d.]+$', 0) AS float) AS tmin,
       CAST(regexp_replace(tavg_trimmed, '^[^\\d.]+$', 0) AS float) AS tavg,
       CAST(regexp_replace(tmax_trimmed, '^[^\\d.]+$', 0) AS float) AS tmax
FROM {input_table}

Query started at 03:52:21 PM Eastern Daylight Time
Query executed in 0.00 m
Query started at 03:52:21 PM Eastern Daylight Time
Query executed in 0.02 m

# Create weather date features (same as for station data)

This analysis is the same as used for the station data so we have filled it in.

In [13]:
input_table = 'wnv_weather_clean'
output_table = 'wnv_weather_ts'

In [14]:
%%read_sql
DROP TABLE if EXISTS {output_table};
CREATE TABLE {output_table}
AS
WITH wnv_weather_dates AS (
                          SELECT date::date date_ts, *
                          FROM {input_table} 
                          )
SELECT extract(year from date_ts)::int AS year,
       extract(month from date_ts)::int AS month,
       extract(day from date_ts)::int AS day,
       extract(doy from date_ts)::int AS day_of_year,
       *
FROM wnv_weather_dates

Query started at 03:52:24 PM Eastern Daylight Time
Query executed in 0.00 m
Query started at 03:52:24 PM Eastern Daylight Time
Query executed in 0.03 m

In [15]:
%%read_sql
SELECT *
FROM {output_table}
LIMIT 10

Query started at 03:52:26 PM Eastern Daylight Time
Query executed in 0.13 m

,year,month,day,day_of_year,date_ts,date,avgspeed,preciptotal,tmin,tavg,tmax
0,2007,5,1,121,2007-05-01,2007-05-01,9.2,0.0,50.0,67.0,83.0
1,2007,5,1,121,2007-05-01,2007-05-01,9.6,0.0,52.0,68.0,84.0
2,2007,5,2,122,2007-05-02,2007-05-02,13.4,0.0,42.0,51.0,59.0
3,2007,5,2,122,2007-05-02,2007-05-02,13.4,0.0,43.0,52.0,60.0
4,2007,5,3,123,2007-05-03,2007-05-03,11.9,0.0,46.0,56.0,66.0
5,2007,5,3,123,2007-05-03,2007-05-03,13.2,0.0,48.0,58.0,67.0
6,2007,5,4,124,2007-05-04,2007-05-04,10.8,0.0,49.0,58.0,66.0
7,2007,5,4,124,2007-05-04,2007-05-04,10.4,0.0,51.0,0.0,78.0
8,2007,5,5,125,2007-05-05,2007-05-05,12.0,0.0,53.0,60.0,66.0
9,2007,5,5,125,2007-05-05,2007-05-05,11.5,0.0,54.0,60.0,66.0

# Compute Weather Averages

In [16]:
input_table = 'wnv_weather_ts'
output_table = 'wnv_weather_rolling'

In [17]:
%%read_sql
DROP TABLE IF EXISTS {output_table};
CREATE TABLE {output_table}
AS
SELECT date_ts,
       avg(avgspeed) OVER (ORDER BY date_ts RANGE BETWEEN 7 PRECEDING AND CURRENT ROW),
       avg(preciptotal) OVER (ORDER BY date_ts RANGE BETWEEN 7 PRECEDING AND CURRENT ROW) AS preciptotal7,
       avg(tmin) OVER (ORDER BY date_ts RANGE BETWEEN 7 PRECEDING AND CURRENT ROW) AS tmin7,
       avg(tavg) OVER (ORDER BY date_ts RANGE BETWEEN 7 PRECEDING AND CURRENT ROW) AS tavg7,
       avg(tmax) OVER (ORDER BY date_ts RANGE BETWEEN 7 PRECEDING AND CURRENT ROW) AS tmax7
FROM {input_table}
ORDER BY date_ts

Query started at 03:52:34 PM Eastern Daylight Time
Query executed in 0.00 m
Query started at 03:52:34 PM Eastern Daylight Time
Query executed in 0.09 m

In [18]:
%%read_sql
SELECT *
FROM {output_table}
LIMIT 10

Query started at 03:52:39 PM Eastern Daylight Time
Query executed in 0.00 m

      date_ts        avg  preciptotal7      tmin7      tavg7      tmax7
0  2007-05-01   9.400000           0.0  51.000000  67.500000  83.500000
1  2007-05-01   9.400000           0.0  51.000000  67.500000  83.500000
2  2007-05-02  11.400000           0.0  46.750000  59.500000  71.500000
3  2007-05-02  11.400000           0.0  46.750000  59.500000  71.500000
4  2007-05-03  11.783333           0.0  46.833333  58.666667  69.833333
5  2007-05-03  11.783333           0.0  46.833333  58.666667  69.833333
6  2007-05-04  11.487500           0.0  47.625000  51.250000  70.375000
7  2007-05-04  11.487500           0.0  47.625000  51.250000  70.375000
8  2007-05-05  11.540000           0.0  48.800000  53.000000  69.500000
9  2007-05-05  11.540000           0.0  48.800000  53.000000  69.500000

# Putting it All Together: Join weather data and mosquito station data

In [45]:
station_table = 'wnv_train_agg_dummy'
weather_table = 'wnv_weather_rolling'
output_table = 'wnv_features'

In [49]:
df = %read_sql SELECT * FROM {station_table} LIMIT 10
df.columns.tolist()

Query started at 04:11:07 PM Eastern Daylight Time
Query executed in 0.00 m

['date_ts',
 'year',
 'month',
 'day',
 'day_of_year',
 'trap',
 'latitude',
 'longitude',
 'total_num_mosquitos',
 'wnv_present',
 'species_culex_pipiens_restuans',
 'species_culex_restuans',
 'species_culex_pipiens',
 'species_culex_territans',
 'species_culex_salinarius',
 'species_culex_tarsalis',
 'species_culex_erraticus']

In [48]:
%%read_sql
DROP TABLE IF EXISTS {output_table};
CREATE TABLE {output_table}
AS
SELECT row_number() OVER () as id, *
FROM {station_table}
INNER JOIN {weather_table}
USING (date_ts);

Query started at 04:06:31 PM Eastern Daylight Time
Query executed in 0.00 m
Query started at 04:06:31 PM Eastern Daylight Time
Query executed in 0.06 m

In [27]:
print(1)

1